<div class="main" id="<%= idDiv %>">
    <form action="<%= action %>" method="post">
        <h2>
            <%= title %>
        </h2>
        <label><%= label1 %></label>
        <input type="text" name="<%=name1%>" placeholder="<%= placeholder1 %>">
        <label><%= label2 %></label>
        <input type="text" name="<%=name2%>" placeholder="<%= placeholder2 %>">
        <label><%= label3 %></label>
        <input type="text" name="<%=name3%>" placeholder="<%= placeholder3 %>">
        <input type="hidden" name="id" hidden value="<%= id%>">
        <input type="submit" class="btn" value="<%=value%>">

    </form>
</div>